/* 通用start */
*
{
    margin: 0;
    padding: 0;
    background-color: #000;
}
div
{
    width: 150px;
    height: 150px;
    background-color: #fff;
    margin-right: 10px;
    margin-bottom: 10px;
}
span
{
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
}
s,i,em{font-style:normal;text-decoration:none;display: flex;}
/* 通用end */

/* 单项目start */
.box-one-top-left
{
    display: flex;/* Flexible Box的缩写，即"弹性布局" */
}
.box-one-top-center
{
    display: flex;
    justify-content: center;/* justify-content属性定义了项目在主轴上的对齐方式；flex-start（默认值）：左对齐 */
}
.box-one-top-right
{
    display: flex;
    justify-content: flex-end;/* 右对齐 */
}
.box-one-center-left
{
    display: flex;
    align-items: center;/* align-items属性定义项目在交叉轴上如何对齐，设置交叉轴对齐方式，可以垂直移动主轴 */
}
.box-one-center-center
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-one-center-right
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.box-one-bottom-left
{
    display: flex;
    align-items: flex-end;
}
.box-one-bottom-center
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.box-one-bottom-right
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
/* 单项目end */

/* 双项目start */
.box-two-lt-rt
{
    display: flex;
    justify-content: space-between;/* 两端对齐，项目之间的间隔都相等 */
}

.box-two-lc-rc
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-two-lb-rb
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.box-two-lt-lb
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;/* flex-direction属性决定主轴的方向（即项目的排列方向），主轴为垂直方向，起点在上沿 */
}

.box-two-ct-cb
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.box-two-rt-rb
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
}

.box-two-lt-cc
{
    display: flex;
}
.item-child-cc
{
    align-self: center;
}

/* .box-two-ct-cc
{
    
} */

.box-two-rt-cc
{
    display: flex;
    justify-content: flex-end;
}

.box-two-lb-cc{
    display: flex;
    align-items: flex-end;

}

.box-two-rb-cc
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/* .box-two-tc-cc
{
    display: flex;
    justify-content: center;
}
.item1
{
    display: flex;
    justify-content: center;
}
.item2
{
    display: flex;
    justify-content: center;
    align-content: center;
} */

.box-two-lc-cc
{
    display: flex;
}
.item-child-lc
{
    align-self: center;
}